.home {
    height: calc(100vh);
    color: white;
    
    /*make sure the width spans othe whole vw*/
    background-image: url('../../public/media/bg1.png');
    background-size: 100vw 100vh; 
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}   

.home button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(30, 30, 30);
    color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;  
}

.home button:hover {
    background-color: rgb(20, 20, 20);
}

.heading-home{
    color:white;
    text-shadow: 0px 2px 4px black;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
    height: 6%;
}

.heading-para{

    text-shadow: 0px 1px 4px black;
    line-height: -60px;
    font-size: 30px;
}