.my-navbar{
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    z-index: 1000;
    padding: 10px;
}

.nav-blur{
    border-radius: 20px;
    width: 60vw;
    padding: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    background-color: var(--main);
    transition: all 0.3s ease-in-out;
    /* border: 2px solid var(--main); */
}

.nav-logo{
    height: 70px;
    margin-left: 10px;
    cursor: pointer;
    width: auto;
}

.navlink{
    color: white;
    margin: 0 1.4vw;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.navlink:hover{
    transform: scale(1.1);
}


@media (max-width: 1090px){
    .nav-blur{
        width: 100%;
    }
}

@media (max-width: 430px) {
    .navlink{
        font-size: medium;
    }
    .nav-logo{
        display: none;
    }
}

.my-navbar {
    transition: top 0.3s ease-in-out;
}

.my-navbar.visible {
    top: 0;
}

.my-navbar.invisible {
    top: -100px; /* or any height that makes it hide */
}

.dash-nav{
    background-color: rgb(147, 150, 153);
}

.dash-nav .navlink{
    /* color: black; */
    /* font-weight: 400; */
}