.my-navbar {
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    z-index: 1000;
    padding: 10px;
    transition: top 0.3s ease-in-out;
  }
  
  .my-navbar.visible {
    top: 0;
  }
  
  .my-navbar.invisible {
    top: -100px;
  }
  
  .nav-blur {
    border-radius: 20px;
    width: 70vw;
    padding: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    background-color: var(--main);
    transition: all 0.3s ease-in-out;
  }
  
  .nav-logo {
    height: 70px;
    margin-left: 10px;
    cursor: pointer;
    width: auto;
  }
  
  .navlink {
    color: white;
    margin: 0 1.4vw;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  
  .navlink:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 1090px) {
    .nav-blur {
      width: 100%;
    }
  }
  
  @media (max-width: 430px) {
    .navlink {
      font-size: medium;
    }
    .nav-logo {
      display: none;
    }
  }
  
  .dash-nav {
    background-color: var(--main);
  }

  .navlink {
    text-decoration: none;
    /* other styling */
  }
  