.weather-main{
    box-shadow: 0px 0px 15px #ccc;
    padding: 30px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}
.night{
    background-color: rgb(3, 1, 34);
    color: white;
}
.temperature{
    font-size: 5vw;
    text-align: center;
}

.city{
    font-size: 1rem;
    text-align: center;
}
.time{
    font-size: 1rem;
    text-align: center;
}

.sun{
    position: absolute;
    top:10%;
    right: 8%;
    background-color: yellow;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
}
.moon{
    position: absolute;
    top:10%;
    right: 8%;
    background-color: rgb(255, 255, 255);
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
}

.moon-internal{
    position: absolute;
    top:-2%;
    right: 10%;
    background-color: rgb(3, 1 ,34);
    width: 2.8vw;
    height: 2.8vw;
    border-radius: 100%;
}